# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/
/src/assets/
/src/sc/
/src/sc/extend.jsx
/src/sc/props.jsx
/src/App.css
/src/App.jsx
/src/App.module.css
/src/index.css
/src/main.jsx
/.gitignore
/eslint.config.js
/index.html
/package.json
/pnpm-lock.yaml
/README.md
/vite.config.js
